<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.spielpark.steve.bernieapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key"/>

        <activity
            android:name=".actMainPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>

    <!--

                                            ,   ,
                                            $,  $,     ,
                                            "ss.$ss. .s'
                                    ,     .ss$$$$$$$$$$s,
                                    $. s$$$$$$$$$$$$$$`$$Ss
                                    "$$$$$$$$$$$$$$$$$$o$$$       ,
                                   s$$$$$$$$$$$$$$$$$$$$$$$$s,  ,s
                                  s$$$$$$$$$"$$$$$$""""$$$$$$"$$$$$,
                                  s$$$$$$$$$$s""$$$$ssssss"$$$$$$$$"
                                 s$$$$$$$$$$'         `"""ss"$"$s""
                                 s$$$$$$$$$$,              `"""""$  .s$$s
                                 s$$$$$$$$$$$$s,...               `s$$'  `
                             `ssss$$$$$$$$$$$$$$$$$$$$####s.     .$$"$.   , s-
                               `""""$$$$$$$$$$$$$$$$$$$$#####$$$$$$"     $.$'
                                     "$$$$$$$$$$$$$$$$$$$$$####s""     .$$$|
                                      "$$$$$$$$$$$$$$$$$$$$$$$$##s    .$$" $
                                       $$""$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"   `
                                      $$"  "$"$$$$$$$$$$$$$$$$$$$$S""""'
                                 ,   ,"     '  $$$$$$$$$$$$$$$$####s
                                 $.          .s$$$$$$$$$$$$$$$$$####"
                     ,           "$s.   ..ssS$$$$$$$$$$$$$$$$$$$####"
                     $           .$$$S$$$$$$$$$$$$$$$$$$$$$$$$#####"
                     Ss     ..sS$$$$$$$$$$$$$$$$$$$$$$$$$$$######""
                      "$$sS$$$$$$$$$$$$$$$$$$$$$$$$$$$########"
               ,      s$$$$$$$$$$$$$$$$$$$$$$$$#########""'
               $    s$$$$$$$$$$$$$$$$$$$$$#######""'      s'         ,
               $$..$$$$$$$$$$$$$$$$$$######"'       ....,$$....    ,$
                "$$$$$$$$$$$$$$$######"' ,     .sS$$$$$$$$$$$$$$$$s$$
                  $$$$$$$$$$$$#####"     $, .s$$$$$$$$$$$$$$$$$$$$$$$$s.
       )          $$$$$$$$$$$#####'      `$$$$$$$$$###########$$$$$$$$$$$.
      ((          $$$$$$$$$$$#####       $$$$$$$$###"       "####$$$$$$$$$$
      ) \         $$$$$$$$$$$$####.     $$$$$$###"             "###$$$$$$$$$   s'
     (   )        $$$$$$$$$$$$$####.   $$$$$###"                ####$$$$$$$$s$$'
     )  ( (       $$"$$$$$$$$$$$#####.$$$$$###' -Tua Xiong     .###$$$$$$$$$$"
     (  )  )   _,$"   $$$$$$$$$$$$######.$$##'                .###$$$$$$$$$$
     ) (  ( \.         "$$$$$$$$$$$$$#######,,,.          ..####$$$$$$$$$$$"
    (   )$ )  )        ,$$$$$$$$$$$$$$$$$$####################$$$$$$$$$$$"
    (   ($$  ( \     _sS"  `"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$S$$,
     )  )$$$s ) )  .      .   `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$"'  `$$
      (   $$$Ss/  .$,    .$,,s$$$$$$##S$$$$$$$$$$$$$$$$$$$$$$$$S""        '
        \)_$$$$$$$$$$$$$$$$$$$$$$$##"  $$        `$$.        `$$.
            `"S$$$$$$$$$$$$$$$$$#"      $          `$          `$
                `"""""""""""""'         '           '

                -->
